.about-img {
  background: url(../../Assets/Aboutpage.jpg) no-repeat 50% 50%;
  background-color: #000000b0;
  background-blend-mode: darken;
}
.conatiner-wrapper {
  top: 100%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.who-we-are {
  margin-bottom: 20px;
}
/* Soothsayer has helped dozens fo Fortune 1000 & Midsize companies capture ROI via custom A.I. solutions */
/* 00b4d8 */
