.about-img {
  background: url(../../Assets/Aboutpage.jpg) no-repeat 50% 50%;
  background-color: #000000b0;
  background-blend-mode: darken;
}
.conatiner-wrapper {
  top: 100%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.who-we-are {
  margin-bottom: 20px;
}
.vAndm {
  margin-top: 25px;
}
.vison-points {
  margin: 20px 0 0 20px;
  list-style-type: initial;
}
.vison-points li {
  margin-bottom: 5px;
}
