.vps {
  background: url("../../Assets/Vps.png") no-repeat 25%;
  background-color: #00000074;
  background-blend-mode: darken;
}
.conatiner-wrapper {
  top: 52%;
  left: 50%;
}
.vps-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}
.vps-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.vps-wrapper svg {
  padding: 15px;
  font-size: 70px;
  border-radius: 10px;
}
.vps-wrapper h3 {
  color: #0f2137;
  margin-bottom: 3px;
  font: 600 25px "Commissioner";
}
.vps-wrapper span {
  font-size: 23px;
  color: #000000;
  opacity: 0.7;
  line-height: 40px;
}
.cont-1 svg {
  background-color: rgba(255, 67, 97, 10.12%);
  color: #ff4361;
}
.cont-2 svg {
  background-color: #eaf9ff;
  color: #3dabdd;
}
.cont-3 svg {
  background-color: #fff6d3;
  color: #d6ab00;
}

@media screen and (max-width: 1536px) {
  .conatiner-wrapper {
    top: 60%;
  }
  .vps-wrapper h3 {
    font-size: 22px;
  }
  .vps-wrapper span {
    font-size: 20px;
    line-height: 36px;
  }
}
@media screen and (max-width: 1366px) {
  .vps-container {
    height: 300vh;
  }
  .conatiner-wrapper {
    top: 61%;
  }
  .vps-wrapper svg {
    padding: 10px;
    font-size: 55px;
  }
  .vps-wrapper h3 {
    font-size: 20px;
  }
  .vps-wrapper span {
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .vps-container {
    height: 240vh;
  }
  .conatiner-wrapper {
    top: 61%;
  }
  .vps-wrapper svg {
    padding: 10px;
    font-size: 50px;
  }
  .vps-wrapper h3 {
    font-size: 19px;
  }
  .vps-wrapper span {
    font-size: 16px;
    line-height: 27 px;
  }
}
@media screen and (max-width: 480px) {
  .vps-container {
    height: 360vh;
  }
  .conatiner-wrapper {
    top: 53%;
  }
  .vps-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .vps-wrapper svg {
    padding: 10px;
    font-size: 50px;
  }
  .vps-wrapper h3 {
    font-size: 18px;
  }
  .vps-wrapper span {
    font-size: 14px;
    line-height: 27px;
  }
}
