.teams-container {
  max-width: 80%;
  margin: 0 auto 150px auto;
}
.teams-heading {
  text-align: center;
  margin-bottom: 70px;
  color: #000000;
}

.teams-mates {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.teams-mates::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  background: url("../../Assets/dot\ pattern.svg") 100% 100%;
  left: 0%;
  bottom: -10%;
  z-index: -1;
}
.team-list {
  position: relative;
}

.teams-mates img {
  display: block;
  width: 100%;
}
.team-details {
  position: absolute;
  padding: 15px 40px;
  bottom: -1px;
  left: -1px;
  background-color: #ffffff;
  box-shadow: 5px -7px 5px #0000002a;
  color: #000000;
  border-radius: 0 10px 5px 5px;
}
.team-details h1 {
  font-size: 30px;
  margin-bottom: 3px;
}
.team-details p {
  font-size: 22px;
  opacity: 0.6;
}
@media screen and (max-width: 1280px) {
  .teams-container {
    margin: 0px auto 150px auto;
  }
  .teams-heading {
    margin-bottom: 50px;
  }
  .teams-mates::after {
    left: -5%;
    bottom: -10%;
  }
  .team-details {
    position: absolute;
    padding: 15px 40px;
    bottom: -1px;
    left: -1px;
  }
  .team-details h1 {
    font-size: 18px;
  }
  .team-details p {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .teams-container {
    margin: 0px auto 150px auto;
  }
  .teams-heading {
    margin-bottom: 50px;
  }
  .teams-mates {
    flex-direction: column;
  }
  .teams-mates::after {
    width: 100px;
    height: 100px;
    left: -10%;
    top: 25%;
  }
  .team-details {
    position: absolute;
    padding: 15px 40px;
    bottom: -1px;
    left: -1px;
  }
  .team-details h1 {
    font-size: 18px;
  }
  .team-details p {
    font-size: 16px;
  }
}
