.lc {
  background: url("../../Assets/License.png") no-repeat 0%;
  background-color: #000000b9;
  background-blend-mode: darken;
}

.lc-text {
  margin-bottom: 15px;
}
.services-content a {
  font-size: 25px;
  color: #2a5298;
}
.services-content a:active {
  color: #2a5298;
}
@media screen and (max-width: 1536px) {
  .services-content a {
    font-size: 21px;
  }
}
@media screen and (max-width: 1280px) {
  .services-content a {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .services-content a {
    font-size: 15px;
  }
}
.gss-btn {
  all: unset;
  color: #2a5298;
}
.gss-btn:hover {
  text-decoration: underline;
}
