.steps-container {
  background: url(../../Assets/Frame\ 75.svg) no-repeat 100% 100%;
  background-size: 100%;
  position: relative;
  padding: 70px 0 160px 0;
  margin: 100px 0 180px 0;
}
.steps-heading {
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
  font: 600 40px;
}
.steps-list {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.steps-digit {
  color: #22437d;
  font: 400 40px "Lexend Deca", sans-serif;
  background-color: #ffffff;
  border-radius: 22px;
  padding: 15px;
}
.steps-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.steps-title {
  color: #ffffff;
  font: 500 30px "Poppins", sans-serif;
}
.steps-desc {
  color: #ffffff;
  opacity: 0.7;
  white-space: pre-line;
  line-height: 34px;
  font: 400 20px "Commissioner";
}
.arrow {
  position: absolute;
  width: 160px;
  opacity: 0.3;
}
.arrow-1 {
  top: 35%;
  left: 22%;
}
.arrow-2 {
  top: 40%;
  left: 42%;
}

.arrow-3 {
  top: 35%;
  right: 31%;
}

.comm-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: #ffffff;
  width: 65%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 0;
  box-shadow: 0px 25px 100px #45589d2a;
  border-radius: 20px;
}
.main-title {
  font: 600 25px "Open Sans", san-serif;
  color: #464555;
  margin-bottom: 5px;
}
.second-title {
  font: 400 24px "Open Sans", san-serif;
  color: #6f6e78;
}

.arrow-4 {
  width: 150px;
}

.gs-btn {
  all: unset;
  background-color: #2a5298;
  color: #ffffff;
  padding: 20px 28px;
  font-size: 22px;
  border-radius: 10px;
}

@media screen and (max-width: 1536px) {
  .steps-heading {
    margin-bottom: 60px;
    font-size: 35px;
  }
  .steps-digit {
    font-size: 35px;
  }
  .steps-title {
    font-size: 25px;
  }
  .steps-desc {
    font-size: 16px;
    line-height: 27px;
  }
  .arrow {
    width: 140px;
  }
  .arrow-1 {
    top: 37%;
    left: 22.5%;
  }
  .arrow-3 {
    top: 37%;
    right: 30.5%;
  }
  .comm-container {
    gap: 50px;
    padding: 45px 0;
  }
  .main-title {
    font-size: 21px;
  }
  .second-title {
    font-size: 20px;
  }
  .gs-btn {
    padding: 17px 23px;
    font-size: 19px;
  }
}

@media screen and (max-width: 1366px) {
  .steps-heading {
    margin-bottom: 60px;
    font-size: 30px;
  }
  .steps-digit {
    font-size: 30px;
    padding: 13px;
  }
  .steps-title {
    font-size: 22px;
  }
  .steps-desc {
    font-size: 15px;
    line-height: 24px;
  }
  .arrow {
    width: 125px;
  }
  .arrow-1 {
    top: 38%;
  }
  .arrow-2 {
    left: 41.5%;
  }
  .arrow-3 {
    top: 38%;
    right: 31.2%;
  }
  .comm-container {
    gap: 50px;
    padding: 40px 0;
  }
  .main-title {
    font-size: 20px;
  }
  .second-title {
    font-size: 19px;
  }
  .gs-btn {
    padding: 15px 23px;
    font-size: 17px;
  }
}
@media screen and (max-width: 1280px) {
  .steps-container {
    padding: 70px 0 140px 0;
  }
  .steps-heading {
    margin-bottom: 60px;
    font-size: 25px;
  }
  .steps-digit {
    font-size: 25px;
    padding: 10px;
  }
  .steps-title {
    font-size: 19px;
  }
  .steps-desc {
    font-size: 14px;
    line-height: 20px;
  }
  .arrow {
    width: 120px;
  }
  .arrow-1 {
    top: 39%;
    left: 22%;
  }
  .arrow-2 {
    top: 42%;
    left: 41.5%;
  }
  .arrow-3 {
    top: 39%;
    right: 30.5%;
  }
  .comm-container {
    gap: 40px;
    padding: 30px 0;
  }
  .main-title {
    font-size: 18px;
  }
  .second-title {
    font-size: 17px;
  }
  .gs-btn {
    padding: 12px 20px;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .steps-container {
    background: url(../../Assets/Frame\ 75.svg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px 0 120px 0;
  }
  .steps-heading {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .steps-list {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .steps-box {
    gap: 10px;
  }
  .steps-digit {
    font-size: 25px;
    padding: 10px;
  }
  .steps-title {
    font-size: 19px;
    margin-bottom: 0;
  }
  .steps-desc {
    white-space: initial;
    font-size: 14px;
    line-height: 22px;
  }
  .arrow {
    display: none;
  }
  .comm-container {
    width: 90%;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    text-align: center;
  }
  .main-title {
    font-size: 16px;
  }
  .second-title {
    font-size: 15px;
  }
  .gs-btn {
    padding: 10px 18px;
    font-size: 14px;
    margin-top: 7px;
  }
  .arrow-4 {
    display: none;
  }
}
