.testimonial-container {
  max-width: 65%;
  margin: auto;
}

.testi-title {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 30px 2px;
  gap: 20px;
}
.details img {
  width: 100px;
}
.details h3 {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 2px;
}
.details p {
  font-size: 25px;
}
.testi-content {
  font: 100 32px "Commissioner", sans-serif;
  line-height: 55px;
}

.testimonial-container .slick-prev::before,
.testimonial-container .slick-next::before {
  content: none !important;
}
.testimonial-container .slick-prev {
  top: 11% !important;
  left: 85% !important;
  z-index: 1;
}
.testimonial-container .slick-next {
  top: 11% !important;
  right: 7% !important;
  z-index: 1;
}

.testimonial-container .slick-prev svg,
.testimonial-container .slick-next svg {
  color: #000000 !important;
  font-size: 60px !important;
  padding: 13px !important;
  border: 1px solid #000000 !important;
  border-radius: 50%;
}
.testimonial-container .slick-disabled {
  opacity: 0.4 !important;
}
@media screen and (max-width: 1536px) {
  .details img {
    width: 90px;
  }
  .details h3 {
    font-size: 28px;
  }
  .details p {
    font-size: 24px;
  }
  .testi-content {
    font-size: 25px;
    line-height: 45px;
  }
  .testimonial-container .slick-prev {
    top: 14% !important;
    left: 84% !important;
  }
  .testimonial-container .slick-next {
    top: 14% !important;
  }
  .testimonial-container .slick-prev svg,
  .testimonial-container .slick-next svg {
    font-size: 50px !important;
    padding: 12px !important;
  }
}
@media screen and (max-width: 1366px) {
  .details img {
    width: 90px;
  }
  .details h3 {
    font-size: 25px;
  }
  .details p {
    font-size: 20px;
  }
  .testi-content {
    font-size: 22px;
    line-height: 38px;
  }
  .testimonial-container .slick-prev {
    top: 12% !important;
  }
  .testimonial-container .slick-next {
    top: 12% !important;
  }
  .testimonial-container .slick-prev svg,
  .testimonial-container .slick-next svg {
    font-size: 42px !important;
    padding: 11px !important;
  }
}
@media screen and (max-width: 1280px) {
  .details img {
    width: 70px;
  }
  .details h3 {
    font-size: 22px;
  }
  .details p {
    font-size: 17px;
  }
  .testi-content {
    font-size: 20px;
    line-height: 37px;
  }
  .testimonial-container .slick-prev svg,
  .testimonial-container .slick-next svg {
    font-size: 40px !important;
    padding: 10px !important;
  }
}
@media screen and (max-width: 480px) {
  .testimonial-container {
    max-width: 90%;
  }

  .details {
    gap: 12px;
  }
  .details img {
    width: 60px;
  }
  .details h3 {
    font-size: 15px;
  }
  .details p {
    font-size: 13px;
  }
  .testi-content {
    font-size: 15px;
    line-height: 30px;
  }
  .testimonial-container .slick-slider {
    padding: 0px;
  }
  .testimonial-container .slick-prev {
    top: 11% !important;
    left: 80% !important;
  }
  .testimonial-container .slick-next {
    top: 11% !important;
    right: 6% !important;
  }
  .testimonial-container .slick-prev svg,
  .testimonial-container .slick-next svg {
    font-size: 27px !important;
    padding: 5px !important;
  }
}
@media screen and (max-width: 390px) {
  .details {
    gap: 10px;
  }
  .details img {
    width: 50px;
  }
  .details h3 {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .details p {
    font-size: 13px;
  }
  .testi-content {
    font-size: 14px;
    line-height: 25px;
  }
  .testimonial-container .slick-prev {
    top: 10% !important;
    left: 78% !important;
  }
  .testimonial-container .slick-next {
    top: 10% !important;
    right: 6% !important;
  }
  .testimonial-container .slick-prev svg,
  .testimonial-container .slick-next svg {
    font-size: 23px !important;
    padding: 5px !important;
  }
}
