.cs {
  background: url("../../Assets/Consultancy.png") no-repeat 100%;
  background-color: #000000b0;
  background-blend-mode: darken;
}
.cs-list {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.con-1 svg {
  background-color: rgba(255, 67, 97, 10.12%);
  color: #ff4361;
}
.con-2 svg {
  background-color: #eaf9ff;
  color: #3dabdd;
}
.con-3 svg {
  background-color: #fff6d3;
  color: #d6ab00;
}
.con-4 svg {
  background-color: #e4ffee;
  color: #40975f !important;
}
.con-5 svg {
  background-color: #f4f4ff;
  color: #5856d6;
}
.con-6 svg {
  background-color: rgba(233, 116, 37, 12%);
  color: #e97425;
}

@media screen and (max-width: 480px) {
  .cs-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
