.cs-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../Assets/Consultancy.png") no-repeat;
  background-size: 100%;
  background-color: #ffffff;
}
.cs-content {
  width: 100%;
  max-width: 85%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #ffffff;
  padding: 100px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.082);
}
.cs-content h2 {
  font: 600 45px "Commissioner", sans-serif;
  margin-bottom: 10px;
}
.cs-content p {
  line-height: 40px;
  opacity: 0.8;
  font-size: 26px;
}
.ser-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
  margin-top: 50px;
}
.ser-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.ser-wrapper svg {
  padding: 15px;
  font-size: 65px;
  border-radius: 10px;
}
.ser-wrapper h3 {
  font: 600 25px "Commissioner", sans-serif;
  color: #0f2137;
  margin-bottom: 7px;
}
.ser-wrapper span {
  font: 100 24px "Commissioner", sans-serif;
  line-height: 35px;
  color: #000000;
  opacity: 0.7;
}
.con-1 svg {
  background-color: rgba(255, 67, 97, 10.12%);
  color: #ff4361;
}
.con-2 svg {
  background-color: #eaf9ff;
  color: #3dabdd;
}
.con-3 svg {
  background-color: #fff6d3;
  color: #d6ab00;
}
.con-4 svg {
  background-color: #e4ffee;
  color: #40975f;
}
.con-5 svg {
  background-color: #f4f4ff;
  color: #5856d6;
}
.con-6 svg {
  background-color: rgba(233, 116, 37, 12%);
  color: #e97425;
}
