.numbers-container {
  width: 100%;
  height: auto;
  background: #f9fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px 0;
}
.left-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.numbers-list {
  text-align: center;
  padding: 60px;
  background-color: #ffffff;
  box-shadow: 0px 3px 40px #45589d0b;
  border-radius: 10px;
}

.num-count {
  font: 700 60px "Open Sans", sans-serif;
}
.first {
  color: #28d1dc;
}
.second {
  color: #ff753a;
}
.third {
  color: #fa578e;
}
.fourth {
  color: #28dcb2;
}
.numbers-list p {
  font-size: 20px;
  white-space: pre-line;
  color: #000000;
  opacity: 0.8;
  line-height: 29px;
}
.right-container {
  position: relative;
  max-width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  color: #000000;
}

.right-container h3 {
  font: 800 55px "Manrope", sans-serif;
  line-height: 70px;
  white-space: pre-line;
}
.right-container p {
  white-space: pre-line;
  font-size: 23px;
  opacity: 0.8;
  line-height: 40px;
}
.right-container a {
  color: #1e3c72;
  font-size: 20px;
}

@media screen and (max-width: 1536px) {
  .left-container {
    gap: 25px;
  }
  .numbers-list {
    padding: 50px 40px;
  }
  .num-count {
    font-size: 45px;
  }
  .numbers-list p {
    font-size: 15px;
    line-height: 23px;
  }
  .right-container h3 {
    font-size: 45px;
    line-height: 55px;
  }
  .right-container p {
    font-size: 19px;
    line-height: 30px;
  }
  .number-list li {
    font-size: 18px;
    margin: 7px 0;
  }
  .right-container a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .left-container {
    gap: 20px;
  }
  .numbers-list {
    padding: 50px 30px;
  }
  .num-count {
    font-size: 40px;
  }
  .numbers-list p {
    font-size: 14px;
    line-height: 22px;
  }
  .right-container h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .right-container p {
    font-size: 16px;
    line-height: 25px;
  }
  .number-list li {
    font-size: 15px;
    margin: 0;
  }
  .right-container a {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .numbers-container {
    flex-direction: column-reverse;
    gap: 35px;
    padding: 70px 0;
  }
  .left-container {
    width: 100%;
    max-width: 90%;
    gap: 15px;
  }
  .numbers-list {
    padding: 15px 20px 35px 20px;
  }
  .num-count {
    font-size: 35px;
  }
  .numbers-list p {
    font-size: 11px;
    line-height: 18px;
  }
  .right-container {
    width: 100%;
    max-width: 90%;
    margin: auto;
  }
  .right-container h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .right-container p {
    font-size: 14px;
    line-height: 25px;
  }
  .number-list li {
    font-size: 14px;
    margin: 0;
  }
  .right-container a {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  .right-container p {
    white-space: initial;
  }
}
